@use "sass:meta";

@layer reset, general;

@layer reset {
    @include meta.load-css("styles/normalize");
}

@layer general {
    @include meta.load-css("styles/general");
}

:root {
    --canvas-bg-color: #fbfcfc;
    --primary-color: #f0b111;
    --primary-color-dark: #bd8a0a;
    --light-black: #282c34;
    --text-color: #1c2833;
    --default-padding: 1rem;
    --switch-font-size: 1.1rem;
}

header.App-header {
    background-color: var(--light-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 2rem;
    }
}

div.App-controls {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    max-width: min(90rem, 90vw);
    margin: 0 auto;

    div.App-control-wrapper {
        display: flex;
        align-items: center;

        &.align-right {
            justify-content: flex-end;
        }
    }
}

.App-loading-message {
    text-align: center;
}
