@use "sass:meta";

@layer reset, general;

@layer reset {
    @include meta.load-css("styles/normalize");
}

@layer general {
    @include meta.load-css("styles/general");
}

header.App-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 1.5rem;
    }
}
