@use "sass:meta";

@layer reset, general;

@layer reset {
    @include meta.load-css("styles/normalize");
}

@layer general {
    @include meta.load-css("styles/general");
}

:root {
    --canvas-bg-color: #fbfcfc;
    --primary-color: #f0b111;
    --text-color: #1c2833;
    --default-padding: 1rem;
}

header.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: white;
        font-size: 2rem;
    }
}
